.banner {
  background-image: url("https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80");
  height: 55vh;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  background-color: rgba(2, 42, 52, 0.776);
  padding: 2rem 5rem;
  color: antiquewhite;
  border-radius: 2rem;
}

.main-container,
.text-muted {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.blogs-outer-container {
  background-color: rgb(229, 238, 238);
  width: 50vw;
  height: 80vh;
  padding: 3em 2em;
  overflow-y: scroll;
}

.blogs-outer-container,
.forms-container {
  background-color: rgb(229, 238, 238);
  width: 50vw;
  height: 80vh;
  padding: 3em 2em;
}

.blogs-outer-container {
  background-color: rgb(255, 255, 255);
}

h3 {
  background-color: rgba(2, 42, 52, 0.776);
  padding: 1rem;
  color: antiquewhite;
  border-radius: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.blogs-inner-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.edit-icon:hover {
  color: rgb(14, 102, 255);
}

.delete-icon:hover {
  color: rgb(255, 38, 14);
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(40, 61, 63, 0.995);
  color: rgb(255, 243, 243);
  padding: 2rem;
}

.footerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 5vh;
}

.iconsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.icon {
  color: rgb(255, 243, 243);
  font-size: 1.5rem;
}
